*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --text-color1 : #EDE6E6;
    --text-color2 : #2c2c2c;
    --background1 : #180606;
    --background2 : #450100;
    --color-third: #D82929;
    --subtitle: whitesmoke;
    
    
}

.light{
    --text-color1 : #66757F;;
    --text-color2 : #2c2c2c;
    --background1 : #E6ECF0;
    --background2 : #657786;;
    --color-third: #021F33;
}

/* Color Theme Swatches in Hex */
.Twitter-Grays-Light-Mode-1-hex { color: #14171A; }
.Twitter-Grays-Light-Mode-2-hex { color: #66757F; }
.Twitter-Grays-Light-Mode-3-hex { color: #657786; }
.Twitter-Grays-Light-Mode-4-hex { color: #E6ECF0; }
.Twitter-Grays-Light-Mode-5-hex { color: #FFFFFF; }

/* Color Theme Swatches in RGBA */
.Twitter-Grays-Light-Mode-1-rgba { color: rgba(20, 23, 26, 1); }
.Twitter-Grays-Light-Mode-2-rgba { color: rgba(102, 117, 126, 1); }
.Twitter-Grays-Light-Mode-3-rgba { color: rgba(100, 119, 133, 1); }
.Twitter-Grays-Light-Mode-4-rgba { color: rgba(230, 235, 239, 1); }
.Twitter-Grays-Light-Mode-5-rgba { color: rgba(255, 255, 255, 1); }

/* Color Theme Swatches in HSLA */
.Twitter-Grays-Light-Mode-1-hsla { color: hsla(210, 13, 9, 1); }
.Twitter-Grays-Light-Mode-2-hsla { color: hsla(203, 10, 44, 1); }
.Twitter-Grays-Light-Mode-3-hsla { color: hsla(207, 14, 46, 1); }
.Twitter-Grays-Light-Mode-4-hsla { color: hsla(203, 24, 92, 1); }
.Twitter-Grays-Light-Mode-5-hsla { color: hsla(0, 0, 100, 1); }


html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    font-family: 'Lato', sans-serif
}

/* HEADER */
.nav_container{
    background-color: var( --background2);
    padding: 1rem;
    top: 0;
    position: sticky;
    /* box-shadow: 8px 1px 8px black ; */
    z-index: 999;
    /* position: relative; */
}

.header_content{
    max-width: 1300px;
    height: 70px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img_theme{
    display: none;
}

.logo img{
    /* font-size: 25px; */
    width: 90px;
}

.nav_bar{
    display: flex;
    list-style: none;
    padding: 1rem;
    margin-left: auto;
    /* gap: 0.8rem; */
}

/* .show-menu nav{
    display: block;
} */

.nav_bar a{
    text-decoration: none;
    position: relative;
    /* font-family: 'Poppins', sans-serif; */
}

.nav_bar li{
    color: var( --text-color1 );
    font-size: 17px;
    margin: 0.6rem;
}

.nav_bar a:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var( --color-third);
    transition: 0.3s;
}

.nav_bar a:hover::after {
    width: 100%;
}

.menu{
    display: flex;
    gap: 2rem;
}
.menu img{
    color:var( --text-color1) ;
    cursor: pointer;
    width: 30px;
    /* display: none; */
}

.menu-img{
    display: none;
}



/* SECTION DE INÍCIO */
#inicio{
    /* display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(white #c7c7c7) */
    background-color: var( --background1);
    /* background-color:  #111827; */
    display: flex;
    align-items: center;
    gap: 32px;
    padding-block: 80px;
    position: relative;
    justify-content: center;
    scroll-margin-top: 100px;
}
#inicio_content{
    display: flex;
    align-items: center;
    gap: 64px;
}

#img_pessoal img{
    width: 300px;
    border-radius: 99999px;
    border: 1px solid var( --color-third);
    border-color: var( --color-third);
}

#img_pessoal {
    order: 2;
}

#text_resume h1{
    color: transparent;
    padding: 0px 3px;
    font-size: 3rem;

    animation: written 0.5s ease forwards;
}

.paragrafo_header{
    color: var(--text-color1);
}

#social-icons{
    display: flex;
    padding: 20px 0;
    font-size: 24px;
    position: relative;
    
}

#social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    color: var( --text-color1 );
    /* transition: background 0.2s; */
    border-radius: 50%;
    position: relative;
}
#social-icons a:after{
    content: '';
    width: 0;
    left: 0;
    background-color: var( --color-third);
    position: absolute;
    bottom: -5px;
    height: 2px;
    transition: .3s;
}
#social-icons a:hover::after{
    width: 100%;
    /* background: #b4b1b1; */
}


.paragrafo_header{
    line-height: 150%;
    margin: 25px 0;
    max-width: 580px;
}

.paragrafo{
    line-height: 150%;
    margin: 25px 0;
    max-width: 580px;
    color: var( --subtitle );
}

#text_resume h1:nth-child(1){
    animation-delay: 1s;
}

#text_resume h1:nth-child(2){
    animation-delay: 2s;
}

#text_resume h1:nth-child(3){
    animation-delay: 3s;
}

/* SECTION DE SOBRE */
#sobre{
    background-color: var( --background1);
    padding: 50px 80px;
    display: flex;
    justify-content: center;
}

.sobre_content{
    display: flex;
}

.subtitle{
    font-size: 2.5rem;
    position: relative;
    color: var( --subtitle );
    margin: auto;
    width: fit-content;
}

.subtitle_black{
    font-size: 2.5rem;
    position: relative;
    color: var( --text-color1 );
    width: fit-content;
    margin: auto;
}

.subtitle:after, .subtitle_black:after{
    content: '';
    display: block;
    width: 50%;
    height: 0.3rem;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
    background-color:var( --color-third)
}

/* .subtitle_black:after{
    content: '';
    display: block;
    width: 100%;
    height: 0.3rem;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
    background-color: #C42727
} */
.text_sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image_sobre img{
    width: 500px;
    margin-right: 15px;
}

.image_sobre{
    display: flex;
}



/* SECTION DO SOBRE 2  */
/* #sobre_2{
    background-color: #2c2c2c;
}

.sobre_content_2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    margin: auto;
    padding: 80px 64px;
} */

/* SECTION DE HABILIDADES */
#habilities{
    background-color:var( --background1);
    justify-content: center;
    padding: 60px 80px;
    text-align: center;
}


.icon_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 3rem;
}

.button_portifolio{
    width: 150px;
    padding: 12px 24px;
    border-radius: 20px;
    border: none;
    margin: 1.5rem;
    font-weight: 600;
    background-color: var( --color-third );
    color: var(--text-color1);
    text-decoration: none;
    border: 2px solid var( --color-third);
    cursor: pointer;
    transition: .5s ease;
}

.button_portifolio:hover{
    border: 2px solid var( --color-third );
    background-color: var( --text-color1 );
    color: var(--color-third);
}

.img_habilities img{
    width: 200px;
}

.img_habilities img:hover{
    /* box-shadow: 2px 5px 2px 0px rgba(0, 0, 0, 0.2); */
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
    transform: scale(1.03);
    transition: all 200ms;
}

footer{
    background-color: var( --background1);
    color: var( --text-color1 );
    text-align: center;
    padding: 0.7rem;
}

/* //Media querys */

@media screen  and (max-width: 1200px){
    .image_sobre{
        display: none;
    }
    .sobre_content_2{
        justify-content: center;
    }
}

@media screen  and (max-width: 800px){
    .image_sobre img {
        width: 200px;
    }

    #inicio_content {
        flex-direction: column;
    }

    #text_resume{
        padding-inline: 32px;
    }

    #text_resume h1 {
        font-size: 40px;
    }

    .show-menu nav{
        display: flex;
    }

    .nav_bar{
        position:absolute;
        background-color: var(--background1);
        top: 102px;
        display: none;
        flex-direction: column;
        align-items: center;
        width: 95%;
    }

    .nav_bar li{
        margin: 0.7rem;     
    }

    .menu-img{
        display: block;
    }

    #img_pessoal{
        order: inherit;
    }
}

@keyframes written{
    100%{
        color: var( --text-color1 );
    }
}